th {color:#ff0000}
td:first-child {
  background-color: #ff0000;
  color:white

}
tr:first-child {
  background-color: #ff0000;
  color:white

}
table {
  float: left;
  width: 50%
}
td {width: 4.76%}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td:hover:not(:first-child) {background-color: yellow;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 1000px) {
  table {width: 100%}
}

div {
  /*font-size: large;
  font-weight: bold;
  color: #0006a8*/
  }
